:root {
    --primary: #b6895b;
    --bg: #4c4040;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-size: 100% 100%;
    margin: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: var(--bg);
    color: #fff;
  }
  
  /* Navbar */
  .Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 2px solid #513c28;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  
  .Navbar label span {
    color: var(--primary);
  }
  .Navbar label {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    color: #fff;
  }
  
  .Navbar a {
    font-size: medium;
    font-style: oblique;
    color: #fff;
  }
  /* Membuat tampilan */
  .Tampilan {
    min-height: 100vh;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 1.2rem; /* Ubah ukuran font menjadi lebih besar */
    line-height: 1.5; /* Tambahkan line-height untuk memudahkan membaca */
    display: flex;
    align-items: center;
    background-image: url("Tampilan.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity background-image: 0.6;
  }
  
  /* Untuk membuat select  */
  .Tampilan select {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    width: auto;
  }